@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F6F7F9;
  --foreground: #083A50;

  /*Color*/
  --primary-blue: #005FFE;

  --whitish-background: #F6F7F9;

  --primary-text: #083A50;
  --secondary-text: #90A3BF;

  --green-text: #0EAD69;
  --orange-text: #F49A47;
  --red-text: #FF5D47;

  --green-background: #DCFAED;
  --orange-background: #FFE5A1;
  --red-background: #FDE2E2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
